.menu-list{
	width:500px;
	margin:20px auto 0 auto;
}

table{
}

.menuEdit{
	width:500px;
	margin:30px auto 0 auto;
	justify-content:space-around;
	display:flex;
}

thead{
	display:block;
	width:500px;
}

tbody{
	display:block;
	height:100px;
	width:500px;
	overflow:scroll;
}

.id{
	width:30px;
	text-align:center;
	font-size:12px;
}

.name{
	width:250px;
	text-align:center;
	font-size:12px;
}

.price{
	width:160px;
	text-align:center;
	font-size:12px;
}

.time{
	width:160px;
	text-align:center;
	font-size:12px;
}
