.navi-box > a:link { color:#fff;text-decoration:none; }
.navi-box > a:visited { color:#fff; text-decoration:none; }
.navi-box > a:hover { color:#fff; text-decoration:none;}
.navi-box > a:active { color:#fff; text-decoration:none; }
.navi-box > a {width:100%; height:80px;display:block;padding-top:16%;}

.logo{
	padding-top:16px !important;
	padding-left:15px !important;
}
.navi{
margin-top:0px;
width:100%;
height:80px;
}
.navi-box{
	position:relative;
	float:right;
	width:14.28%;
	height:80px;
	font-size:22px;
	text-align:center;
	background-color:rgba(0,0,0,0.4);
	transition: background-color 2s;
  	-webkit-transition: background-color 1.2s;
}

.navi-box:hover{
	background-color:rgba(255,255,255,0.2);
}

.before{
	width:16.6666% !important;
}
