.head-space{
	padding:25px;
}

#container  h2{
	text-align: center;
}

table{
	margin: 0 auto;
	table-layout: auto;
	background-color:rgba(255,255,255,0.5);
	width: 400px;
	border-radius:5px;
	text-align:justify;
}

.menu-table{
	height:300px;
	overflow:scroll;
}